.git
.gitignore
.gcloudignore
**/.DS_Store
**/.env
**/.env.*
!**/.env.example

**/node_modules
frontend/dist
frontend/coverage

backend/.gradle
backend/build
backend/.env
backend/.env.*
!backend/.env.example

**/*.log
**/.idea
**/.vscode
**/agent-transcripts
docs
infrastructure/docker-compose.yml
infrastructure/docker-compose.cloud.yml
scripts
*.md
!frontend/README.md
